# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) Built-In Functions <br>

 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
10) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [3]:
number = 6
print(number)
elephants =21
print(elephants)

6
21

##### Assigning float

In [5]:
# float == decimal
num_float = 3.14
print(num_float)

my_float = 30.623425
print(my_float)

3.14
30.623425

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1 = 3
num2 = 7

print(num1+num2)
result = num1 + num2
print(result)

10
10

In [10]:
num3=15
num4=2

result = num3+num4

print(result)

result += num4
# result = result + num4
print(result)

17
19

##### Subtraction

In [11]:
num3 = 15
num4 =2
print(num3 - num4)

result =num3 - num4
print(result)

result -= num4
#result = result -num4
print(result)

13
13
11

##### Multiplication

In [15]:
num1 = 10
num2 = 4.7

product = num1 * num2
print(product)

product *= 2

print(product)

47.0
94.0

##### Division

In [18]:
num1 = 45
num2 = 9

quotient = num1/num2
print(quotient)

5.0

In [19]:
num1 = 45

num1/=3
print(num1)

15.0

##### Floor Division

In [20]:
num1 = 5
num2 = 2

floored = num1//num2

print(floored)

2

In [22]:
num1 = 5
num2 = 2

quotient= num1/num2
print(quotient)

2.5

##### Modulo

In [ ]:
#remainder
num1 = 6
if num1 % 2 ==0
    print("odd")
    else:
        print("even")

In [24]:
num1 = 5
num2 = 2

result_mod = num1 % num2
print(result_mod)

#shorthand
num1 %= num2

print(num1)

1
1

In [25]:
num1 = 100
num2 = 15

result_mod = num1 % num2
print(result_mod)

10

Exponential

In [27]:
square = 5**2
print(square)

#shorthand
square**=2
print(square)

25
625

In [28]:
cubed=3**3
print(cubed)

cubed**=3
print(cubed)

27
19683

##### String Assignment

In [30]:
name = 'Ryan'
pet = 'Golden Retriever'

print(name)
print(pet)

Ryan
Golden Retriever

print()

In [32]:
#print ()

print("Hello,", name)

print("Full name:", name, end=" Rhoades")

print('\n')
help(print)

Hello, Ryan
Full name: Ryan Rhoades

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### String Concatenation

In [38]:
first_name = "Luke"
last_name = "Skywalker"

full_name = first_name + " " + last_name
print(full_name)

full_name += " " + "Jedi Master"
print(full_name)

Luke Skywalker
Luke Skywalker Jedi Master

In [41]:
my_string = "I have a dog. his name is "
dog_name = "Eyo"

dog_sentence = my_string + " " + dog_name
print(dog_sentence)

I have a dog. his name is  Eyo

##### Type Conversion

In [43]:
#int() - convert type into interger type
#float() - convert to float type
#str() - convert to string type

#not every string can be mad ein to a float or interger but every interger of float can be made in to a string

x =12
print(type(x))

name = "Ryan"

num_str = "15"

y = 1.45
print(type(y))

<class 'int'>
<class 'float'>

In [45]:
new_x = str(x)

new_y = str(y)

print(new_x)
print(new_y)

12
1.45

##### format()

age = int(input("How old are you?"))
name = input("What is your name?")

result_string = "You are {} years old, {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again##### format())

In [49]:
# Input will always return a string, all of the time, forever and ever and ever
age = int(input("How old are you?"))

print("Your are is", age)

age += 1

print(age)

How old are you?"31"

ValueError: invalid literal for int() with base 10: '"31"'

In [52]:
name = input("What is your name?")
print("Your name is, ",name)

quest = input("What is your quest, ")
print("Your quest is, ", quest)

color = input("What is your favorite color?")
print("Your favorite color is, ", color)

What is your name?jack
Your name is,  jack
What is your quest, cry
Your quest is,  cry
What is your favorite color?pruple
Your favorite color is,  pruple

##### Old Way (python 2)

In [55]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 45 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for a car's color, year, make, model and prints out the results</p>

In [69]:
make=input("What's the make of the car?")
model=input("What's the model of the car?")
color=input("What's the color of the car?")
year=input("What's the year that car was made?")

statement = f"This a {color} {year} {make} {model}."
print(statement)

What's the make of the car?Toyota
What's the model of the car?Camry
What's the color of the car?black
What's the year that car was made?1990
This a black 1990 Toyota Camry.

### If Statements

In [73]:
#Operators Less than <, greater than >, equal to ==, Not equal to !=
#Less than or equal to <=, greater than or equal to >=

#order of conditions matter

# truth tree
# T && F = F
# T && T = T
# T // F = T
# F // T = T
# F // F = F

num1 = 7
num2 = 7

#if
#elif
#else

if num2 == num1:
    print("Equal Values")
elif num2 == 7:
    print("That's a 7, baby!")
else:
    print("That's not a number we're looking for")
    
    
if num1 == num2:
    print("Equal Values")
elif num2 == 7:
    print("That's a 7, baby!")
else:
    print("That's not a number we're looking for")

Equal Values
Equal Values

##### 'is' keyword

In [74]:
#use the "is" keyword checking ofr same/similar objects (location), == is for value, "is" reference equality

num3=90

if num3 == 90:
    print("That'll do it!")
if num3 is 90:
    print("Taht'll also do it!") #This gives a syntax warning, working with literal
    
    
num2 = 55
print(num2)
num3 = num2
print(num3)
num4 = num3
print(num4)
num2 = 100
print(num2)

if num4 is num2:
    print("SUPER DUPER")
else:
    print("That is not super duper")

That'll do it!
Taht'll do it!

<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/xr/12y6wyjd39x2yjm9zqr886340000gp/T/ipykernel_67832/2559673038.py:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 90:

##### 'in' keyword

In [76]:
#Check if a character is in a string
char_name = "Boba Fett"
if "b" in char_name:
    print("Beautiful")
else:
    print("Oh no, thats not here!")
    
if "f" in char_name.lower():
    print("its here")
else:
    print("NOPE")

Beautiful
its here

##### 'not in' keyword'

In [77]:
sega_char = "Sonic"
sega_char2 = "Sanic"

if 'a' not in sega_char.lower():
    print("This is not Saaaanic")
else:
    print("This is Saaanic")

This is not Saaaanic

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>
<p>Check for case sensitivity</p>

In [81]:
user_input = input("Please enter a word:")

if 'p' in user_input.lower():
    print("The letter 'p' is in the word that you entered.")
else:
    print("The letter 'p' is not in your word")

Please enter a word:Potter
The letter 'p' is in the word that you entered.

## Using 'and'/'or' with If Statements

In [82]:
num1 = 15
num2 =3
num3 =10
num4 =3
# if with and statement
if num1/5 == num2 and num3 - 7 == num4:
    print('True and True')
else:
    print("one of the above statements was false")
    
# if with or statement
if num1 > num2 or num3 == num4:
    print("True and False")
else:
    print("Both of the above statements are false")

True and True
True and False

### Elif Statements

In [84]:
#if condition 1
#elif condition 2
#elif condition 3
#elif confition 4
#else (all other conditions

num = 9
if num ==9:
    print("Th")

first_name = "Jack"
    
if first_name =="Smith":    
    print("That is a weird first name")
elif first_name == "Max":
    print("Ah yes, Max is indeed a first name")
elif first_name == "Ryan":
    print("Hello Ryan")
elif first_name == "Alex":
    print("GUTEN MORGEN, Alex")
else:
    print("That's not a name I care about.")

Th
That's not a name I care about.

### Else Statements

In [85]:
# else is accounting for every other case that isn't true for any of the ifs or elifs

number ==112

if number == 20:
    print(number)
elif number == 15:
    print(number)
else:
    print(f"The number is not 20 or 15, its(number)")

The number is not 20 or 15, its(number)

### String Manipulation

#### .lstrip()

In [87]:
# our_string.lstrip()

name = "                 Lando Calrissian"
print(name)
print(name.lstrip())

                 Lando Calrissian
Lando Calrissian

#### .rstrip()

In [89]:
#our_string.rstrip()
name = "Luke Skywalker      "
print(name)
name = name.rstrip()
print(name)

Luke Skywalker
Luke Skywalker

#### .strip()

In [91]:
#remove white space on both sides
#our.string.strip()

name ="     Ash Ketchum.  "
print(name)
print(name.strip())

     Ash Ketchum.
Ash Ketchum.

In [96]:
name = input("What is yoru name?")

if name =="ryan":
    print("cool beans")
else:
    print("unlegit")
name = name.strip()
if name =="ryan":
    print("cool beans")
else: 
    print("unlegit")

What is yoru name?ryan
unlegit
cool beans

In [99]:
#.replace()
name = "rod,"

name = name.replace(",",'')
print(name)

rod

#### .title()

In [100]:
#our_string.title()
#cap first letter of each word

name = "goofy goober"
print(name.title())

Goofy Goober

#### .upper()

In [101]:
#our.string.upper()
#every letter upper case

name = "cheetor"
print(name.upper())

CHEETOR

#### .lower()

In [102]:
#our.string.lower()
#every letter lower case

name = "Darth Vader"
print(name.lower())

name_lower = name.lower()
print(name_lower)

darth vader
darth vader

### String Exercise

Have a user input a name. Return the name with all white space removed and each first letter capitalized.

In [112]:
full_name = input("Enter your full name:")

title_full_name = full_name.title()

strip_title = title_full_name.strip()

print(strip_title)

Enter your full name:jack the lantern
Jack The Lantern

### Built-In Functions

##### len()

In [116]:
#works for string and list
#return the length of a given variable as an integer

name = "Max"
length_of_name = len(name)
print(length_of_name)
print(len(name))

3
3

In [117]:
my_list = [1,2,3,4,5]
print(len(my_list))

5

##### help()

In [122]:
#gives a tooltip on a python built-in function

help(len)
help(sum)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

##### isinstance()

In [126]:
#check a variable to find out what Object Family (data type) it belongs to 
#isinstance(var, type)

print(isinstance(4.5, int))

if isinstance(4.5, float):
    print("This number is a float type")
else:
    print("Thats not a float")
    
age = int(input("How old are you?"))
if isinstance(age,int):
    print(age)

False
This number is a float type
How old are you?51
51

##### abs()

In [127]:
#give us the distance to zero

print(abs(-5))

5

### Try and Except

In [129]:
#use this whenever you expect encounter a bug so that the error doesn't cause the progoram to stop
# logging graceful error messages to gently nudge the user in the right direction

try:
    age=int(input("How old are you?"))
    print(f"Happy Birthday you were {age} and now your are age {age +1}")
except:
    print("Please enter in a number, not text")

How old are you?happ
Please enter in a number, not text

## Exercise #1 <br>
<p>Accept two user ages as inputs and give us the difference between them. (The Answer should always be a positive output)</p>

In [ ]:
user_1 = input("Hi user_1, what's your name?")
user_1_age = input("{}, how old are you?".format(user_1))
user_2 = input("Hi user_2, what's your name?")
user_2_age = input("{}, how old are you?".format(user_2))
age_diff = abs(user_1_age - user_2_age)
if user_1_age > user_2_age:
    print("{}, is {} years older than {}.".format(user_1, age_diff, user_2))
elif user_2_age > user_1_age:
    print("{}, is {} years older than {}.")

## Exercise #2 
<p>Accept 3 user inputs for variables named noun, verb and adjective. Print out a formatted string using the outputs.</p>

## Exercise #3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

## Exercise #4
<p>Take in a number from a user input output the number squared.</p>

## Exercise #5
<p>Check the below variables' length. If the length of the word is greater than 5 output True, if it is less than 5, output False<p>

In [ ]:
word1 = "panini"
word2 = "bulbasaur"
word3 = "pie"
word4 = "dolphin"
word5 = "dog"